<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bintang Samudro</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/accordion.css' %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'home/js/scripts.js' %}" type="text/javascript"></script>
</head>

<body>

    {% include "includes/navbar.html" %}

    <div class="accordion" id="accordionExample" style="margin-top: 60px;">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <div class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        Cerita Singkat
                        <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Nama saya Bintang Samudro dari Fakultas Ilmu Komputer Universitas Indonesia, disini saya ingin
                    menjadi
                    Full-stack Developer. Saya tinggal di Tambun Selatan dan saat kuliah offline, saya tinggal di sebuah
                    kost
                    sehingga memudahkan saya untuk pergi kemana-mana. Hobi saya adalah bermain futsal dan berkomunikasi.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <div class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        Aktivitas Saat Ini
                        <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Saat ini, saya sedang mencoba untuk menyelamatkan diri saya dari kekacaua yang terjadi pada semester
                    3
                    dan
                    saya akan semakin bersemangat untuk kedepannya, saat ini saya sedang fokus dalam akademik semoga
                    saja
                    saya
                    bisa lulus semua matkul dengan nilai yang sempurna
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <div class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        Organisasi / Kepanitaan
                        <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    DPM Fasilkom UI merupakan organisasi yang saya ambil pada tahun ini, dimana saya mendapatkan banyak
                    sekali
                    priviledge dengan bertemu orang orang berkuasa difasilkom, DPM juga meningkatkan rasa kepemimpinan
                    saya
                    selama saya kuliah. Untuk Kepanitaan, saya tahun depan akan menjadi PIC Futsal Runner dimana ini
                    adalah
                    salah satu bidang saya yang amat saya gemari karena saya suka dengan futsal
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <div class="btn btn-link btn-block text-left collapsed" type="div" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <a href="" class="btn reorder-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        Prestasi
                        <a href="" class="btn reorder-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    Saya adalah orang yang selalu berusaha karena itu saya masih bisa bersyukur itu saya anggap sebagai
                    prestasi.
                    Saya pernah menjadi rangking 1 atau 2 saat TK saja belum pernah pas SD SMP SMA, saya memiliki
                    memiliki
                    hobi
                    futsal serta tertarik pada hal yang berbau dengan kodingan karena menarik.
                </div>
            </div>
        </div>
    </div>

    {% include "includes/socialmedia.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>